*
!*/

# source code
!/src/**/*.rs
!/src/**/*.wgsl

# top-level configuration
!/.editorconfig
!/.gitignore
!/Cargo.lock
!/Cargo.toml
!/LICENSE.txt

# www source code
!/www/bootstrap.js
!/www/index.js
!/www/index.html

# www configuration
!/www/package.json
!/www/package-lock.json
!/www/webpack.config.js
